{% extends "layout.twig" %}

{% block contenido %}
    
    <div id="loader">

        <div class="loader-spinner">
        </div>
    
    </div>
                 
     {{ include('formContacto.twig') }} 
     
     {{ include('formCotizar.twig') }} 
    
    <div class="heading">
    
        <div class="heading-slides">
        
            <div class="heading-slide-single" data-slide-id="1" style="background-image: url( {{asset('_assets/_img/bkground1.jpg')}} );">
            
              
                
                <div class="flying-2">
                
                    <h3>Acceda ya a la mejor <br /> cobertura </h3>
                    <p>Nos esforzamos en brindarle un servicio acorde a sus necesidades.</p>
                    
                    <button class="button button-white" data-action="show-quote-popup" data-quote-key="life-insurance">Cotizar ya! <i class="fa fa-paper-plane-o"></i></button>
                
                </div>
                
                <div class="heading-content">
                    
                    <h2>Cotizá online y ahorrá</h2>
                    <h3>Fácil y simple,<br /> sin moverte de tu casa.</h3>
                    
                    <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="life-insurance">Cotizar ya! <i class="f a quotea fa-paper-plane-o"></i></button>
        
                </div>
            
            </div>
            
            <div class="heading-slide-single" data-slide-id="2" style="background-image: url( {{asset('_assets/_img/bkground2.jpg')}} );">
            
              <!--  <div class="flying-1">
                
                    <span>Su broker</span>
                
                </div> -->
                
                <div class="flying-2">
                
                    <h3>Su tranquilidad<br />nuestro compromiso</h3>
                    <p>...publicidad aquí.</p>
                    <p>...tambien noticias!</p>
                    <button class="button button-white" data-action="show-quote-popup" data-quote-key="life-insurance">Cotizar ya! <i class="fa fa-paper-plane-o"></i></button>
                
                </div>
                
                <div class="heading-content">
                    
                    <h2>Siéntase seguro ya!</h2>
                    <h3>Nuestra experiencia de más de 20 años avalan <br /> nuestros servicios.</h3>
                    
                    <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="life-insurance">Cotizar ya! <i class="fa fa-paper-plane-o"></i></button>
        
                </div>
            
            </div>
        
        </div>

    </div>
    
    <section class="call-to-action background">
    
        <div class="center">

            <div class="left">
            
                <h2>Proteja a su familia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit fringilla ligula, nec congue leo pharetra in. Quisque commodo vehicula justo, tincidunt vehicula elit consequat vel.</p>
                
                <div class="form">
            
                    <div class="call-to-action-thanks">
                    
                        <div class="call-to-action-thanks-content">
                        
                            Gracias.  Nos contactaremos a la brevedad.
                            <span class="call-to-action-thanks-close">Cerrar<span>
                        
                        </div>
                    
                    </div>
            
                    <input type="text" name="Phone number" placeholder="Teléfono.." class="phone-number" />
                    <button class="button button-navy-blue send-phone-call-quote">Deseo que un asesor se contacte <i class="fa fa-phone"></i></button>
                
                </div>
                    
            </div>
        
            <div class="right">
            
                <div class="circles">

                    <div class="circle-1 circle-pulse">
                    </div>
                    
                    <div class="circle-2 circle-pulse">
                    </div>
                    
                    <div class="circle-3 circle-pulse">
                    </div>
                    
                    <div class="circle-4 circle-pulse">
                    </div>
                    
                    <a href="tel:+3424601572">
                    
                        <div class="circle-center">
                        
                            <div class="circle-center-tip">Llámenos: <strong>(+342) 460 1572</strong></div>
                            <i class="fa fa-phone"></i>
                        
                        </div>
                    
                    </a>
                
                </div>
            
            </div>
            
            <div class="clear">
            </div>

        </div>
    
    </section>
    
    <section class="insurances-slider section-gray">
    
        <div class="center">
        
            <div class="green-line">
            </div>
            
            <div class="images">
            
                 <div class="image" style="background-image: url( {{asset('_assets/_img/car2.jpg')}} );" data-insurance-key="car">
                </div>
                
                <div class="image" style="background-image: url( {{asset('_assets/_img/casa2.jpg')}} );" data-insurance-key="house">
                </div>
                
                <div class="image" style="background-image: url( {{asset('_assets/_img/familia.jpg')}} );" data-insurance-key="life">
                </div>
                <div class="image" style="background-image: url( {{asset('_assets/_img/viaje.jpg')}} );" data-insurance-key="travel">
                </div>
               
            
            </div>
        
            <div class="content">

                <div class="descriptions">

                    <div class="description" data-insurance-key="house">
                    
                        <h3>Obtenga ya su seguro!</h3>
                        <h2>Su hogar protegido, siempre.</h2>
                        
                        <p>Los seguros de hogar permiten a los propietarios de viviendas para residencia habitual, viviendas de vacaciones, viviendas en alquiler e incluso caravanas proteger sus inmuebles.</p>
                        <p>De esta manera, y según las necesidades de su familia o de su vivienda, pueden optar a las coberturas del seguro de hogar Familiar, Total o Platino.</p>
                        <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="house-insurance">Cotizar ya!<i class="fa fa-paper-plane-o"></i></button>
                    
                    </div>
                    
                    <div class="description" data-insurance-key="travel">
                    
                        <h3>Obtenga ya su seguro!</h3>
                        <h2>Viaje Tranquilo y disfrute! </h2>
                        
                        <p>.No importa en qué país te encuentres ni cuál ha sido el motivo de tu viaje. El servicio que brinda un Seguro de Viaje es el de darte el 100% de protección mientras te encuentres en el exterior, a través de una cobertura frente a un accidente que puedas llegar a tener, o una enfermedad que te sorprenda estando lejos de tu hogar.</p>
                        <p>Es muy importante tener en cuenta que en su mayoría, los seguros de viaje que se adquieren en las correctoras de seguros son contra reembolso. </p>
                     
                        <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="travel-insurance">Cotizar ya!<i class="fa fa-paper-plane-o"></i></button>
                    
                    </div>
                    
                    <div class="description" data-insurance-key="life">
                    
                        <h3>Obtenga ya su seguro!</h3>
                        <h2>Proteja a los que más lo necesitan</h2>
                        
                        <p>Ofrecemos un seguro personalizado que le brindará a tu familia el respaldo económico necesario ante cualquier imprevisto que pudiera sucederte.</p>
                        <p>Disponible hasta $300.000, desde $90 mensuales para afrontar gastos de trasplantes, manutención, salud, educación, hipoteca o cualquier otra necesidad frente a un imprevisto.</p>
                        <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="life-insurance">Cotizar ya! <i class="fa fa-paper-plane-o"></i></button>
                    
                    </div>

                    <div class="description" data-insurance-key="car">
                    
                        <h3>Obtenga ya su seguro!</h3>
                        <h2>Seguro Automotor</h2>
                        
                        <p>Al contar con un seguro automotriz tendrás la tranquilidad de saber que alguien responderá en caso de robo, accidente o pérdida total… </p>
                        <p>Asegura tu auto ¡qué esperas es por tu seguridad! </p>
.</p>
                        <button class="button button-navy-blue" data-action="show-quote-popup" data-quote-key="car-insurance">Cotizar ya! <i class="fa fa-paper-plane-o"></i></button>
                    
                    </div>

                </div>
                
                <ul class="tabs">
                    
                     <li data-insurance-key="car">
                    
                        <i class="fa fa-car"></i>
                        <span>Seguro Automotor</span>
                    
                    </li>
                
                    <li class="active" data-insurance-key="house">
                    
                        <i class="fa fa-home"></i>
                        <span>Seguro del Hogar</span>
                    
                    </li>
                    
                      <li data-insurance-key="AP">
                    
                        <i class="fa fa-umbrella"></i>
                        <span>Accidentes Personales</span>
                    
                    </li>
                    
                    <li data-insurance-key="life">
                    
                        <i class="fa fa-bus"></i>
                        <span>Seguro de vida</span>
                    
                    </li>
                    
                  
                    
                   

                </ul>
            
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>

    <section class="about-us">
    
        <div class="center">
        
            <div class="green-line">
            </div>
        
            <div class="left">
            
                <h3>About us</h3>
                <h2>Meet our insurance agency.</h2>
                
                <p>Curabitur iaculis ante a nibh vulputate sollicitudin. Integer ut tincidunt ligula. Praesent pretium, tellus at elementum ultrices.</p>

                <div class="timeline">
                
                    <div class="timeline-element">
                    
                        <span class="date">March, 2009</span>
                        <p>The establishment of our agency, with two professional insurance agents, in small office in Boston.</p>
                    
                    </div>
                    
                    <div class="timeline-element">
                    
                        <span class="date">December, 2011</span>
                        <p>Three new insurance agents in our team, 2.500 customers!</p>
                    
                    </div>
                    
                    <div class="timeline-element">
                    
                        <span class="date">February, 2014</span>
                        <p>Moving to a new office in Boston. More than 5.000 customers, great references and great view of the future!</p>
                    
                    </div>
                
                </div>

            </div>
        
            <div class="right">
            
                <div class="images-slider">
                
                    <div class="images-slider-change">
                    
                        <div class="images-slider-prev"><i class="fa fa-angle-left"></i></div>
                        <div class="images-slider-next"><i class="fa fa-angle-right"></i></div>
                    
                    </div>
                
                    <div class="images-slider-single" style="background-image: url( {{asset('_assets/_img/explaining-terms.jpg')}} );">
                    </div>
                    
                    <div class="images-slider-single" style="background-image: url( {{asset('_assets/_img/explaining-viewpoint.jpg')}} );">
                    </div>
                
                </div>
                
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>

    <section class="slogan section-gray-top">
    
        <div class="center">
        
            <i class="fa fa-bar-chart-o background-icon"></i>

            <div class="left">
            
                <h3>Our vision</h3>
                <h2>Best insurances for everyone.</h2>
                
                <blockquote>
                
                    <p>Phasellus quis tortor in arcu maximus vehicula. Donec eget elit vitae tortor convallis mattis. Aliquam erat volutpat. Integer vitae quam ut leo accumsan consequat eu ac sapien.</p>
                    <cite>John Doe</cite>
                
                </blockquote>
            
            </div>
            
            <div class="right">
            
                <div class="key-number-values">
                    
                    <div class="single single-top single-left">
                    
                        <span class="number">1294</span>
                        <span class="description">satisfied customers</span>
                    
                    </div>
                    
                    <div class="single single-top single-right">
                    
                        <span class="number">5</span>
                        <span class="description">professional agents</span>
                    
                    </div>
                    
                    <div class="single single-bottom single-left">
                    
                        <span class="number">8</span>
                        <span class="description">insurances in our offer</span>
                    
                    </div>
                    
                    <div class="single single-bottom single-right">
                    
                        <span class="number">12</span>
                        <span class="description">years of experience</span>
                    
                    </div>
                
                </div>
            
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>
    
    <section class="image-slogan with-parallax" style="background-image: url( {{asset('_assets/_img/playing-with-child.jpg')}} );">
    
        <div class="flying-1">
        
            <span> Proteja su hogar</span>
        
        </div>
        
        <div class="flying-2">
        
            <h3>Insurances for<br /> your child's future</h3>
            <p>Curabitur iaculis ante a nibh vulputate sollicitudin.</p>

            <button class="button button-white" data-action="show-quote-popup" data-quote-key="life-insurance">Cotizar ya! <i class="fa fa-paper-plane-o"></i></button>
        
        </div>
    
    </section>    
    
{% endblock %}